:root {
    --color-primario: #ff7f00;
    --color-hover: #ff9d3c;
    --sidebar-width: 250px;
    --sidebar-collapsed-width: 55px;
  }

  body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden;
    transition: margin-left 0.3s ease;
  }

  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
    background-color: var(--color-primario);
    color: white;
    transition: all 0.3s ease;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  body.sidebar-collapsed #sidebar {
    width: var(--sidebar-collapsed-width);
  }

  body.mobile-sidebar-open #sidebar {
    transform: translateX(0);
  }

  .sidebar-header {
    padding: 0.75rem;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar-title {
    font-size: 1.25rem;
    font-weight: bold;
    white-space: nowrap;
    transition: opacity 0.3s ease;
  }

  body.sidebar-collapsed .sidebar-title {
    opacity: 0;
    width: 0;
    overflow: hidden;
  }

  .sidebar-toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
  }

  #sidebar .nav-link {
    color: white;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  #sidebar .nav-link:hover {
    background-color: var(--color-hover);
  }

  .nav-icon {
    margin-right: 0.75rem;
    width: 20px;
    text-align: center;
    font-size: 1rem;
  }

  .nav-text {
    transition: opacity 0.2s ease;
  }

  body.sidebar-collapsed .nav-text {
    opacity: 0;
    width: 0;
    overflow: hidden;
  }

  .content {
    margin-left: var(--sidebar-width);
    padding: 1.5rem;
    transition: margin-left 0.3s ease;
  }

  body.sidebar-collapsed .content {
    margin-left: var(--sidebar-collapsed-width);
  }

  /* Toggle móvil */
  .mobile-toggle {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1100;
    background: var(--color-primario);
    border: none;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: none;
  }

  @media (max-width: 991.98px) {
    .mobile-toggle {
      display: block;
    }

    #sidebar {
      transform: translateX(-100%);
      width: var(--sidebar-width) !important;
    }

    .content {
      margin-left: 0 !important;
    }

    body.sidebar-collapsed .content {
      margin-left: 0 !important;
    }
  }



  /* GESTION DE EMPLEADOS */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: var(--color-primario);
  }
  .employees-container {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  .section-title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-primario);
    animation: bounceIn 2s;
  }
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    animation: fadeInUp 1s ease-in-out;
  }
  .card-header {
    background-color: var(--color-primario);
    color: #fff;
    border: none;
  }
  .btn-add-employee {
    background-color: var(--color-primario);;
    color: white;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1.5s ease-in-out;
    border: none;
  }
  .btn-add-employee:hover {
    background-color: var(--color-primario);
    border: none;
  }

  .employee-status {
    font-weight: bold;
  }

  /* Animations */
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }

  @keyframes bounceIn {
    0% { opacity: 0; transform: scale(0.3); }
    50% { opacity: 1; transform: scale(1.05); }
    100% { transform: scale(1); }
  }

  /* FIN GESTION DE EMPLEADOS */


  /* INICO GESTION DE ROLES  */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: var(--color-primario);
  }
  .roles-container {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  .section-title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-primario);
    animation: bounceIn 2s;
  }
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    animation: fadeInUp 1s ease-in-out;
  }
  .card-header {
    background-color: var(--color-primario);
    color: #fff;
  }
  .btn-add-role {
    background-color: var(--color-primario);
    color: white;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1.5s ease-in-out;
    border: none;
  }
  .btn-add-role:hover {
    background-color:var(--color-primario);
  }

  .role-status {
    font-weight: bold;
  }

  /* Animations */
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }

  @keyframes bounceIn {
    0% { opacity: 0; transform: scale(0.3); }
    50% { opacity: 1; transform: scale(1.05); }
    100% { transform: scale(1); }
  }

  /* FIN GESTION DE ROLES */

  /* INICIO GESTION DE PRODUCTOS */

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333;
  }
  .card-custom {
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    background-color: #fff;
    transition: transform 0.3s ease;
  }
  .card-header-custom {
    background-color: var(--color-primario);
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    padding: 15px;
  }
  .card-body-custom {
    padding: 20px;
  }
  .btn-add-product {
    background-color: var(--color-primario);
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 1.1rem;
    border: none;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .btn-add-product:hover {
    background-color: var(--color-hover);
  }
  .form-control {
    border-radius: 10px;
    box-shadow: none;
    padding: 12px;
  }
  .form-label {
    font-weight: 600;
    color: var(--color-primario);
  }
  .form-text {
    color: var(--color-primario);
  }
  .product-image {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
  }
  .search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .search-bar {
    width: 70%;
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #ddd;
  }
  .filter-btn {
    background-color: var(--color-primario);
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    border: none;
    transition: background-color 0.3s ease;
  }
  .filter-btn:hover {
    background-color: #6B7A39;
  }
  .modal-header {
    background-color: var(--color-primario);
    color: white;
  }
  .modal-body {
    padding: 20px;
  }
  @media (max-width: 768px) {
    .card-header-custom {
      font-size: 1rem;
    }
    .search-bar {
      width: 60%;
    }
  }

  /* FIN GESTION DE PRODUCTOS */

  /* GESTION DE REPORTES */

  body {
    background-color: #f8f9fa;
    color: var(--color-primario);
  }
  .card {
    /* border-left: 5px solid var(--color-primario); */
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  }
  .btn-orange {
    background-color: var(--color-hover);
    color: white;
  }
  .btn-orange:hover {
    background-color: var(--color-primario);
  }

  /* FIN GESTION DE REPORTES */


  /* GESTION DE VENTAS */
  body {
    background-color: #f8f9fa;
    color: var(--color-primario);
  }
  .card {
    /* border-left: 5px solid var(--color-primario); */
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  }
  .btn-orange {
    background-color: var(--color-hover);
    color: white;
  }
  .btn-orange:hover {
    background-color: var(--color-primario);
  }
  /* FIN GESTION DE VENTAS */


  /* INFORMACION NEGOCIO */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333;
  }
  .card-custom {
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    background-color: #fff;
  }
  .card-header-custom {
    background-color: var(--color-primario);
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    padding: 15px;
  }
  .card-body-custom {
    padding: 20px;
  }
  .btn-edit-info {
    background-color: var(--color-hover);
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 1.1rem;
    border: none;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .btn-edit-info:hover {
    background-color: var(--color-primario);
  }
  .logo-preview {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
  }
  .modal-header {
    background-color: var(--color-primario);
    color: white;
  }
  .modal-body {
    padding: 20px;
  }
  .form-control {
    border-radius: 10px;
    box-shadow: none;
    padding: 12px;
  }
  .form-label {
    font-weight: 600;
    color: var(--color-primario);
  }
  .form-text {
    color: var(--color-primario);
  }
  @media (max-width: 768px) {
    .card-header-custom {
      font-size: 1rem;
    }
  }
  /* FIN INFORMACIÓN NEGOCIO */

  /* MEMBRESIA FACTURACIÓN */
  body {
    background-color: #fffaf5;
  }
  .table thead {
    background-color: var(--color-primario);
    color: white;
  }
  .badge-paid {
    background-color: #28a745;
  }
  .badge-due {
    background-color: #dc3545;
  }
  .card {
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  }
  .download-btn {
    color: var(--color-primario);
  }
  .download-btn:hover {
    color: var(--color-primario);
  }

  /* FIN MEMBRESIA FACTURACION */

  /* MEMBRESIA PLANES */
  body {
    background-color: #fffaf5;
  }
  .card-plan {
    border: 2px solid #f3f3f3;
    border-left: 6px solid var(--color-primario);
    border-radius: 16px;
    transition: transform 0.3s ease;
  }
  .card-plan:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  .plan-header {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .plan-price {
    font-size: 2rem;
    color: var(--color-hover);
  }
  .btn-orange {
    background-color: var(--color-primario);
    color: white;
  }
  .btn-orange:hover {
    background-color: var(--color-primario);
  }
  /* FIN MEMBRESIA PLANES */


  /* DASHBOARD NEGOCIO */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .dashboard-container {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  .section-title {
    text-align: center;
    margin-bottom: 20px;
    animation: bounceIn 2s;
  }
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    animation: fadeInUp 1s ease-in-out;
  }
  .card-header {
    color: #fff;
  }
  .stat-title {
    font-size: 1.2rem;
    color: #fff;
  }
  .stat-value {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-primario);
  }
  .btn-report {
    background-color: var(--color-primario);
    color: white;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1.5s ease-in-out;
    border: none;
  }
  .btn-report:hover {
    background-color: var(--color-primario);
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    .section-title {
      font-size: 1.5rem;
    }
    .stat-title {
      font-size: 1rem;
    }
    .stat-value {
      font-size: 1.2rem;
    }
    .btn-report {
      font-size: 0.9rem;
      padding: 8px 15px;
    }
  }

  /* Animations */
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }

  @keyframes bounceIn {
    0% { opacity: 0; transform: scale(0.3); }
    50% { opacity: 1; transform: scale(1.05); }
    100% { transform: scale(1); }
  }

  /* FIN DASHBOARD NEGOCIO */